{% extends 'base.html.twig' %}

{% block content %}

<div class="row">
    <div class="alert alert-danger mb-5 mt-2" role="alert">
    ⚠ Ce site est un site de démonstration, contenant des données fictives, et ayant pour unique objectif, de présenter mes compétences en Symfony. 
    </div>

    <div class="container mt-5">
        <h2>Site de vente en ligne</h2>

        <div class="mt-4 p-5 bg-primary text-white rounded">           
            <p class="h4">
            Vous trouvez sur ce site toutes les fonctionnalités essentielles d'un site de vente en ligne : achat, panier, visualiser et annuler les commandes, créer des listes de souhaits, les modifier et les supprimer, etc.
            </p> 
        </div>
    </div>
</div>

{% endblock %}
