{% extends 'base.html.twig' %}

{% block content %}

<div class="row">   
    <div class="container mt-5 mb-5">
        <h2>Conditions générales de vente</h2>       
    </div>

    <div class="container mt-5">
        <div class="alert alert-danger text-center" role="alert">
        Aucun article sur ce site n'est pas à vendre, ce sont des article fictifs. 
        </div>
    </div>
</div>

{% endblock %}
